@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #553acf;
    color: #fff;
    font-family: "Montserrat", sans-serif;
    padding: 0 5px 30px;
}

h1 {
    text-align: center;
    font-size: 18px;
    padding: 20px 0 5px;
    line-height: 30px;
    margin-bottom: 20px;
}

.btn-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a {
    border: none;
    padding: 20px 0;
    width: 100%;
    max-width: 300px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin: 10px;
    border-radius: 6px;
    transition: opacity 0.3s ease;
    cursor: pointer;
    background-color: #fff;
    color: #1c51cb;
    text-decoration: none;
}

a:active{
    color: #1c51cb;
}

a:hover{
    opacity: 0.9;
}