@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200M;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: rebeccapurple;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.btn {
    background-color: #151515;
    color: rgb(132, 40, 225);
    font-family: inherit;
    font-weight: bold;
    padding: 1rem;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.btn:hover {
    transform: scale(0.98);
}

.btn:focus {
    outline: none;
}

.btn:active {
    transform: scale(1);
}

#toasts {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.toast {
    background-color: #fff;
    border-radius: 5px;
    padding: 1rem 2rem;
    margin: 0.5rem;
}

.toast.info {
    color: rebeccapurple;
}

.toast.success {
    color: green;
}

.toast.error {
    color: red;
}
