@import url("https://fonts.googleapis.com/css?family=Muli:300,700&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #fbfcfe;
    font-family: "Muli", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.container {
    background-color: #fff;
    border: 3px black solid;
    border-radius: 10px;
    padding: 15px;
    width: 90%;
    max-width: 600px;
}

.container h2 {
    font-size: 20px;
    text-align: center;
}

.container p,
.container small {
    font-size: 14px;
}

.code-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
}

.code {
    border-radius: 5px;
    font-size: 35px;
    height: 60px;
    width: 40px;
    border: 1px solid #eee;
    margin: 1%;
    text-align: center;
    font-weight: 300;
    -moz-appearance: textfield;
}

.code::-webkit-outer-spin-button,
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid {
    border-color: #3498db;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.25);
}

.info{
    background-color: #eaeaea;
    display: inline-block;
    padding: 10px;
    line-height: 20px;
    max-width: 400px;
    color: #777;
    border-radius: 5px;
    margin-top: 10px;
}

@media (min-width: 600px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}