@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");

:root {
    --left-bg-color: rgba(87, 84, 236, 0.7);
    --right-bg-color: rgba(43, 43, 43, 0.8);
    --left-bg-hover-color: rgba(87, 84, 236, 1);
    --right-bg-hover-color: rgba(28, 122, 28, 1);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 800ms;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-size: 3.6rem;
    color: #fff;
    position: absolute;
    left: 50%;
    top: 18%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border: #fff solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    width: 15rem;
    padding: 1.5rem;
    border-radius: 8px;
}

.split.left .btn:hover{
    background-color: var(--left-bg-hover-color);
    border-color: var(--left-bg-hover-color);
}

.split.right .btn:hover{
    background-color: var(--right-bg-hover-color);
    border-color: var(--right-bg-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url("basquet.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url("golf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right, .split.left, .split.right::before, .split.left::before{
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width)
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width)
}

@media(max-width: 900px){
    h1{
        font-size: 2rem;
        top: 26%
    }

    .btn{
        padding: 1.2rem;
        font-size: 1.1rem;
        width: 12rem;
    }
}

@media(max-width: 500px){
    h1{
        font-size: 1.8rem;
        top: 27%
    }

    .btn{
        padding: 1.2rem;
        font-size: 0.8rem;
        width: 7rem;
    }
}