@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
    color: #444;
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: rgb(179, 131, 226);
    font-size: 5rem;
    text-align: center;
    opacity: 0.4;
}

form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    width: 325px;
}

.input {
    border: none;
    color: #444;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
    display: block;
    width: 100%;
    transition: outline-color 0.3s ease;
}

.input::placeholder {
    color: #d5d5d5;
}

.input:focus {
    outline-color: rgb(179, 131, 226);
}

.todos {
    background-color: #fff;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    border-top: 1px solid #e5e5e5;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
}

.todos li.completed {
    color: #b6b6b6;
    text-decoration: line-through;
}

small {
    color: #b5b5b5;
    margin-top: 1rem;
    text-align: center;
}
