@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;400&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #3878d7 100%);
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

h2{
    text-align: center;
}

.quiz-container {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(100, 100, 100, 0.1);
    width: 325px;
    overflow: hidden;
}

.quiz-header {
    padding: 2rem;
    text-align: center;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
}

ul li {
    font-size: 1.2rem;
    margin: 1rem 0;
}

ul li label {
    cursor: pointer;
}

button {
    background-color: #8e44ad;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    text-transform: uppercase;
    padding: 0.8rem;
}

button:hover {
    background-color: #732d91;
}

button:active {
    outline: none;
    background-color: #5e3370;
}
