@import url("https://fonts.googleapis.com/css?family=Montserrat");

* {
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    padding: 10px;
}

.testimonial-container {
    background-color: #476ce4;
    color: #fff;
    border-radius: 15px;
    margin: 20px auto;
    padding: 20px 32px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: rgba(255, 255, 255, 0.3);
    font-size: 16px;
    position: absolute;
    top: 35px;
}

.fa-quote-right {
    left: 12px;
}

.fa-quote-left {
    right: 12px;
}

.testimonial{
    line-height: 26px;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image{
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details{
    margin-left: 10px;
}

.user .username{
    margin: 0;
}

.user .role{
    font-weight: normal;
    margin: 10px 0;
}

.progress-bar{
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: grow 10s linear infinite;
    transform-origin: left;
}

@keyframes grow {
    0%{
        transform: scaleX(0);
    }
}