@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

img{
    width: 300px;
    height: 500px;
    object-fit: cover;
}

.carousel{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    height: 530px;
    width: 300px;
    overflow: hidden;
}

.image-container{
    display: flex;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.buttons-container{
    display: flex;
    justify-content: space-between;
}

.btn{
    background-color: rebeccapurple;
    color: #fff;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    width: 49.5%;
    transition: opacity 0.3s ease;
}

.btn:hover{
    opacity: 0.9;
}

.btn:active{
    outline: none;
    opacity: 1;
}